.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .content-container {
    display: flex;
  }
  
  .image-container {
    margin-right: 20px; /* Adjust spacing between image and card */
  }
  
  .card-container {
    display: flex;
    align-items: center;
  }
  
  .card {
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 10rem;
  }
  
  .button-container {
    display: flex;
    
  }
  
  .button-container button {
    margin-left: 10px; /* Adjust spacing between buttons */
  }
  