<div class="landing-page">
    <div class="content-container">
      <div class="image-container">
        <img style="width: 80%;" src="../../../assets/herosectionimage.jpeg" alt="Image" />
      </div>
      <div class="card-container">
        <mat-card class="card">
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="onClickCompany()">Company</button>
            <button mat-raised-button color="primary" (click)="onClickPersonal()">Personal</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  